# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Lixingcong
subtitle: 我的博客
description: 推特宅男一枚，失业中 
author: Lixingcong
language: zh-Hans
timezone: Asia/Shanghai
please_contract_me: 联系方式
last_update_date: 最近更新：

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://yoursite.com
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: true
  tab_replace:
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

index_generator:
  per_page: 5

archive_generator:
  yearly: true
  monthly: true
  per_page: 0

category_generator:
  per_page: 0

tag_generator:
   per_page: 0

# Extensions
## Plugins: http://hexo.io/plugins/
## Themes: http://hexo.io/themes/
theme: next


# Deployment
## Docs: http://hexo.io/docs/deployment.html
## 卧槽 注意空格啊，少了空格就无法部署！！
deploy:
  type: git
  #repo: https://github.com/lixingcong/lixingcong.github.io.git
  repo: git@github.com:lixingcong/lixingcong.github.io.git
  branch: master
  
  
# 社交链接
social:
  Twitter: https://twitter.com/lixingcong
  Github: https://github.com/lixingcong
  #Facebook: https://www.facebook.com/xingcong.li
  #Instagram: https://instagram.com/lixingcong_
  
# High一下，参考https://github.com/lzlun129/my-hexo-next
# 全程高能
high: true
